<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <!-- 新規投稿ボタン -->
    <a href="{% url 'post_create' %}"><button>New Post</button></a>
    <!-- ブログポストの一覧 -->
    <form method="POST" action="{% url 'post_bulk_delete' %}">
        {% csrf_token %}
        {% for post in posts %}
            <input type="checkbox" name="post_ids" value="{{ post.id }}">
            <li>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                <p>Posted on: {{ post.created_at }}</p>
            </li>
        {% endfor %}
        <input type="submit" value="Delete selected posts">
    </form>
</body>
</html>
